[run]
source = GSGE
omit =
    */tests/*
    */test_*.py
    */__init__.py
    */scripts/CLI.py

[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod

[html]
directory = htmlcov
